    <div class="container">
        <div class="row row-content">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <h3>Contact Infomation</h3>
            </div>
            <div class="col-xs-12 col-sm-4 col-sm-offset-4">


                    <address style="font-size: 100%">
                      Street sample.32<br>
                      34007, City<br>
                      Country<br>
                      <i class="fa fa-phone"></i>: +9932598670231<br>
                      <i class="fa fa-envelope"></i>: 
                        <a href="mailto:example@email.com">example@email.com</a>
                   </address>
                
            </div>
        </div>
    </div>