 <!--header-->
    <header>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-sm-offset-4">
                <div class="page-header text-center">
                <h1>Generating Google Map Embedded Code</h1>
                </div>
        </div>
    </div>
    </div>
    </header>
    <!--endheader-->
    <!--navbar-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">

        <!-- mobile view -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#Mnavbar" >
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">GGMEC</a>
            </div>
        <!-- end mobile view -->
    

    <!-- nav links -->
            <div id="Mnavbar" class="collapse navbar-collapse" style="text-align: center;">
            <ul class="nav navbar-nav" style="display: inline-block;float: none;">
                <li><a ui-sref="app">Generating Code</a></li>
                <li><a ui-sref="app.feedback">Feedback</a></li>
            </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      
    </nav>